html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



@font-face {
    font-family: MyriadProRegular;
    src: url(fonts/MyriadProRegular.ttf) format("truetype");
}



.header-text h1{
    margin: auto;
    width: 100%;
    font-size: 18pt;
    line-height: 21.6pt;
    text-align: center;
}

.main-container .main{
    background-color: #22B573;
    margin: 24px auto;
    width: 1278px;
    border: 4pt #006837 solid;
    color: #ffffff;
}

.main-container .main .child{
    background-color: #29ABE2;
    margin: 40px;
    width: 1198px;
    border: 4pt #0071BC solid;
}

.main-container .main .child .child-text{
    margin: 14px 41px;
}

.main-container .main .child .yellow-block1{
    width: 1118px;
    background-color: #FCEE21;
    margin: auto;
    border: 4pt #7AC943 solid;
    display: flex;
}

.main-container .main .child .yellow-block1 .box1{
    width: 204px;
    border: 1pt #93278F solid;
    background-color: #ffffff;
    margin: 40px auto;
}

.main-container .main .child .yellow-block1 .box1 .innnerbox{
    width: 155px;
    background-color: #ED1E79;
    font-family: "MyriadProRegular";
    font-size: 14pt;
    line-height: 16.8pt;
    text-align: center;
    margin: 18px auto;
}

.main-container .main .child .yellow-block1 .box1 .innnerbox p{
    padding: 25px;
}


.main-container .main .child .yellow-block2{
    width: 1117px;
    background-color: #FCEE21;
    margin: 40px auto;
    border: 4pt #7AC943 solid;
    text-align: center;
    font-size: 51.1pt;
    line-height: 61.32pt;
}

.main-container .main .child .yellow-block2 p{
    padding: 100px;
}


